{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url("{{ url_for('static', filename='upload/dash.jpg') }}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
        }
    </style>
<div style="text-align:center; margin-top:110px;">
    <h1>Bienvenue sur Mon Site E-learning</h1>
    <h2>Choisissez votre action :</h2>
    <div style="margin-top:50px;">
        <a href="{{ url_for('videos') }}" style="background:#0faef8;
         color:white; padding:15px 25px; border-radius:8px; margin:10px; display:inline-block;">Vidéos</a>
        <a href="{{ url_for('pdfs') }}" style="background: #e60cd3;
         color:white; padding:15px 25px; border-radius:8px; margin:10px; display:inline-block;">PDFs</a>
        <a href="{{ url_for('logi') }}" style="background:#4607f5;
         color:white; padding:15px 25px; border-radius:8px; margin:10px; display:inline-block;">Seul l'administrateur</a>
    </div>
         <a href="{{ url_for('dashboard') }}" style="background: #e4402a;
         color:white; padding:15px 25px; border-radius:8px; margin:10px; display:inline-block;">Retour au bord</a>
</div>
{% endblock %}
