{% extends "base.html" %}
{% block title %}Menu{% endblock %}
{% block content %}
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url("{{ url_for('static', filename='upload/admi.jpg') }}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
        }
    </style>
<div style="text-align:center; margin-top:50px;">
    <h2>Tableau de bord Admin</h2>
    <div style="margin-top:30px;">
        <a href="{{ url_for('add_video') }}" style="background:#28a745; color:white;
        padding:15px 25px; border-radius:8px; margin:10px; display:inline-block;">Ajouter Vidéo</a>
        <a href="{{ url_for('add_pdf') }}" style="background:#17a2b8; color:white;
        padding:15px 25px; border-radius:8px; margin:10px; display:inline-block;">Ajouter PDF</a>
        <a href="{{ url_for('videos') }}" style="background:#007BFF; color:white;
        padding:15px 25px; border-radius:8px; margin:10px; display:inline-block;">Voir Vidéos</a>
        <a href="{{ url_for('pdfs') }}" style="background:#6c757d; color:white;
        padding:15px 25px; border-radius:8px; margin:10px; display:inline-block;">Voir PDFs</a>
        <a href="{{ url_for('logo') }}" style="background:#dc3545; color:white;
         padding:15px 25px; border-radius:8px; margin:10px; display:inline-block;">Déconnexion</a>
        <a href="{{ url_for('profile') }}" style="background:#ee8ec6; color:white;
         padding:15px 25px; border-radius:8px; margin:10px; display:inline-block;">Liste des utilisateurs</a>
        <a href="{{ url_for('delete_file') }}" style="background:#28a745; color:white;
        padding:15px 25px; border-radius:8px; margin:10px; display:inline-block;">Supprimer les fichiers</a>
        <a href="{{url_for('homes') }}" style="background:#f3e305; color:white;
         padding:15px 25px; border-radius:8px; margin:10px; display:inline-block;">Retour</a>
    </div>
</div>
{% endblock %}
