<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Quiz Informatique</title>
    <link rel="stylesheet" href="/static/css.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>💻 Bienvenue au Quiz Informatique</h1>
            <p>Testez vos connaissances en programmation, web et informatique générale réalisé par ir joel piako.</p>
        </header>

        <main>
            <div class="card">
                <h2>Prêt à relever le défi ?</h2>
                <p>Le quiz contient plusieurs questions à choix multiples.
                Votre score final sera affiché à la fin.</p>
                <a href="quizz" class="btn">Commencer le Quiz 🚀</a>
            </div>
        </main>

        <footer>
            <p>© 2025 Quiz Informatique | Créé avec ❤ en Flask par ir joel piako</p>
        </footer>
    </div>
</body>
</html>